# MongoDB Atlas Production Connection String
MONGODB_URI="mongodb+srv://jainvadh_db_user:<db_password>@jainvia.ophxjdb.mongodb.net/?appName=jainvia"

# JWT Auth Secrets
JWT_SECRET=your-custom-jwt-secret-key
ADMIN_JWT_SECRET=your-admin-jwt-secret-key

# Gmail SMTP (Nodemailer - Order Dispatch Alerts)
GMAIL_USER="yourgmail@gmail.com"
GMAIL_APP_PASSWORD="YOUR_16_CHARACTER_APP_PASSWORD"

# Local Server Port
PORT=3000
